---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import { getCollection, render } from 'astro:content'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import BlockHeader from '~/components/BlockHeader.astro'
import HomeBanner from '~/components/HomeBanner.astro'
import siteConfig from '~/site.config'
import TagsSection from '~/components/TagsSection.astro'
import CategoriesSection from '~/components/CategoriesSection.astro'

const home = await getCollection('home')
let HomeContent
let homeAvatarImage
let homeGithubCalendar
if (home.length > 0) {
  const homeEntry = home[0]
  const { Content } = await render(homeEntry)
  HomeContent = Content
  homeAvatarImage = homeEntry.data.avatarImage
  homeGithubCalendar = homeEntry.data.githubCalendar
}
const sortedPosts = await getSortedPosts()
const latestPosts = [...sortedPosts]
  .reverse()
  .slice(0, Math.floor(siteConfig.pageSize / 2))
const postsHaveTags = sortedPosts.some(
  (post) => post.data.tags && post.data.tags.length > 0,
)

const postsHaveCategories = sortedPosts.some((post) => post.data.category)
---

<Layout>
  {
    HomeContent && (
      <HomeBanner avatarImage={homeAvatarImage} githubCalendar={homeGithubCalendar}>
        <HomeContent />
      </HomeBanner>
    )
  }
  {
    latestPosts.length > 0 && (
      <section>
        <BlockHeader>Latest Posts</BlockHeader>
        {latestPosts.map((post) => (
          <PostPreview post={post} />
        ))}
        <Pagination nextLink="/posts" nextText="Archive" />
      </section>
    )
  }
  {
    postsHaveCategories && (
      <section>
        <BlockHeader>Categories</BlockHeader>
        <CategoriesSection posts={sortedPosts} />
      </section>
    )
  }
  {
    postsHaveTags && (
      <section>
        <BlockHeader>Tags</BlockHeader>
        <TagsSection posts={sortedPosts} />
      </section>
    )
  }
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
